Source: arco-emacs
Section: shells
Priority: extra
Maintainer: ARCO Research Group <sysadm@arco.esi.uclm.es>
Uploaders: David Villa Alises <David.Villa@uclm.es>
Build-Depends: debhelper (>= 7.0.50~), yasnippet, emacs-goodies-el
Standards-Version: 3.9.3
Homepage: https://bitbucket.org/arco_group/arco-emacs

Package: arco-emacs
Architecture: all
Depends: ${misc:Depends}, yasnippet, emacs-goodies-el, auto-complete-el
Conflicts: arco-devel (<< 0.20120213)
Suggests: libnotify-bin
Description: Modular emacs configuration
 Development tools for ARCO staff.

Package: arco-emacs-python
Architecture: all
Depends: ${misc:Depends}, arco-emacs, pylint, pep8, pyflakes
Description: Python emacs support
 Emacs packages and utilities for Python programming
